*.hljs-keyword{font-weight:bold; color:#0000f0;}
*.hljs-number{color:fuchsia;}
*.hljs-string{color:blue;}
*.hljs-meta,*.hljs-meta * {color: green;}
*.hljs-template-tag, *.hljs-section,*.hljs-symbol,*.hljs-selector-tag{color:red;}
*.hljs-built_in{font-weight:bold; color:green;}

.cpp *.hljs-params{color:red;}

*.commas, *.parenthesies{color:red;}
