<nav>
  <h1>Welcome to </h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <hr/>
<ul>
	<p>BRIDGES provides easy to use interfaces to real-world data sources 
	(Twitter, USGS, etc.) for routine use in Computer Science data structures,
	as well as capabilities to visualize the data structures they create as 
	part of their projects, as illustrated in the illustrated examples below. 
	</p>
	<p>This work has been developed at the University of North Carolina 
	at Charlotte,  and funded by an <a href = 
	"http://nsf.gov/awardsearch/showAward?AWD_ID=1245841&HistoricalAwards=false">NSF TUES grant</a></p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
