<nav>
  <h1>Welcome to </h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <hr/>
  <ul>
      <p>We provide students in data structures courses with 
          data from personally relevant social media sources"
      </p>
      <p>This work has been developed at <a href="http://cei.uncc.edu/projects">University of North Carolina at Charlotte</a> with funding from NSF</p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
</nav>
