<!-- Left sidebar's HTML -->
<div class="logo">
    <a href="/" title="Bridges Home"><img src="./img/bridges_logo.png"
            width="200"></img></a>
</div>

<div class="documentation" role="navigation">
    <h4>Documentation</h4>
    <a href="./bridges_setup.html">BRIDGES: Getting Started </a>
    <a href="/Hello_World_Tutorials/Overview.html"> User Guide/ Tutorials</a>

    <a href="/doc/java-api/current/html/index.html">Java API</a>
    <a href="/doc/cxx-api/current/html/index.html">C++ API</a>
    <a href="/doc/python-api/current/html/index.html">Python API</a>
    <a href="/bridges_doclinks.html">Older Versions</a>
</div>

<div class="reference" role="navigation">
    <h4>Reference</h4>
    <a href="/bridges_design.html">BRIDGES Design</a>
    <a href="./publ/burlinson_sigcse16.pdf">Publ.[SIGCSE 16]</a>
    <a href="./publ/mcquaigue_sigcse18.pdf">Publ.[SIGCSE 18]</a>
</div>

<div class="project_data" role="navigation">
    <h4>BRIDGES Project Data</h4>
    <a href="./assignments.html">Assignments</a>
    <a href="./bridges_eval.html">Evaluation Data</a>
    <a href="./datasets.html">Datasets</a>
</div>

<div class="social_nw" role="navigation">
    <h4>Follow Us</h4>
    <a href="https://twitter.com/BridgesUNCC"><img src="./img/twitter_icon.png" width="50"></img></a>
</div>

<div class="sponsor" text-center>
    <h4>Sponsors</h4>
    <a href="http://www.nsf.gov"><img src="./img/nsf_logo.jpg" width="110"></img></a>
</div>