#This is vim's 8.1 css

pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
* { font-size: 1em; }
.Constant { color: #0000c0; text-decoration: underline; }
.Comment { color: #c00000; font-weight: bold; }
.Type { color: #008000; text-decoration: underline; }
.Identifier { color: #804000; text-decoration: underline; }
.Statement { color: #008080; font-weight: bold; }
.PreProc { color: #c000c0; text-decoration: underline; }
