.assignmentgroup {
    font-size: 170%;
}

.assignmentsubgroup {
    margin-left: 1em;
    font-size: 140%;
}

.assignment {
    display: grid;
    
    margin-top: 1em;
    margin-left: 3em;
    margin-bottom: em;

    background-color: lightgray;
    justify-content: start;

    border-radius: 1em;
    border: 2px solid blue;
}

.assignmentmain {
    grid-column: 2;
    place-self: top stretch;
    margin-left: 2em;
}

.assignmentname {
    font-weight: bold;
    font-size: 130%;
}

.assignmenticon img {
    width: 128px;
    max-height: 128px;
}

.assignmenticon {
    grid-column: 1;
    margin-top: .5em;
    margin-left: .5em;
    margin-bottom: .5em;
}

