.disclaimer {
	text-align: center;
	color: #666
}

img.circle-portrait {
	margin: 2em 0;
	vertical-align: middle;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	width: 150px;
	height: 150px;
}

img {
	max-width: 100%
}