.my_footer {
    /* A bar at the top most of the screen, */
    padding: 0;
    width: 100vw;

    /*A single block going from left ot right*/
    display: inline-block;

    background-color: lightgrey;
    font-size: 14px;

    text-align: center;
}
