.my_footer {
    /* A bar at the top most of the screen, */
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100vw;

    /*A single block going from left ot right*/
    display: inline-block;

    background-color: lightgrey;
    font-size: 14px;

    text-align: center;
}
