.container-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: start;
}

.colmost {
    padding-left: .5em;
    grid-column: 1;
}

.colsmall {
    margin-left: .5em;
    margin-right: .5em;
    grid-column: 2;
}
