body {
    padding: 0 !important;
    margin: 0 !important;
}

nav
{
    /* A bar at the top most of the screen, */
    margin: 0;
    padding: 0;
    width: 100vw;

    /*A single block going from left ot right*/
    display: inline-block;

    background-color: black;
    font-size: 17px;

}

nav span
{
        cursor:default;
}

nav a, nav ul
{
  display: inline-block;
  box-sizing: border-box;

  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;

  vertical-align: middle;
}

nav > *
{
        float:left;
}

nav > *:hover {
    background-color: black;
}

nav *.dropdown-contents
{
    display: none;
    position: absolute;
    z-index: 10;
}

nav ul {
    list-style-type: none;
}

nav *.dropdown-contents ul {
  display: block;
  background-color: black;
  box-shadow: 0px 8px 16px black;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .1em;
}

nav .dropdown-contents li, nav .dropdown-contents a {
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
}

/* Highlights drop menu when hover */
nav  *:hover {
    background-color: #222222;
}

/* Displays drop menu options on hover */
nav > *:hover .dropdown-contents {
     display: block;
}


nav *.dropdown-contents, nav *.dropdown-contents *, nav a, nav li, nav ul
{
    display-list: none;
    color: #AAAAAA;
}

nav a
{
    font-size: 110%;
}

nav *:hover {
    color: white;
}

nav ul {
    margin: 0;
}


.logo img {
    width: 100px;
}

.logo a, .logo span {
    padding: .5em;
}
/* Disable hover on logo*/
.logo *:hover {
    background-color: black;
}
