.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

.figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
