.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.topBorder {
      border-top: 7px solid #268bd2;
      float: top;
}

html, body, nav{
  height: 100%;
}

body {
  font-size: 16px;
  background-color: white;
  font-family: "open sans", sans-serif;
  color: #444;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid #268bd2;
}

h1, h2, h3 {
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
      line-height: 36px;

    color: #268bd2;
}

nav li:hover {
    color: black;
    background-color: rgba(0, 0, 0, .15);
}


nav {
    width: 18%;
    overflow: auto;
    float: left;
    position: fixed;
    color: #268bd2;
   // background-color: rgba(0, 0, 0, .05);
 
}

img {
    max-width: 100%
}

 nav ul{
    padding-left: 0;
    list-style: none;
}

.codeExample {
    color: black;
    font-family: "Courier";
    padding-left: 20px;
}

.console{
 color: black;
    font-family: "Courier";
    padding-left: 20px;
    background-color: rgba(0,0,0, .10);   
}

.graphExample {
    font-family: "Courier";
    padding-left: 20px;
}

.codeComment {
    color: green;
    font-family: "Courier";
}

.paren{
    color: blue;
}

.newKey{
    color: magenta;
}

.topMenu{
    padding-left: 5%;
}

.topMenu:hover {
    color: black;
}

.subMenu1{ 
    padding-left: 15%;
}

.subMenu2{
    padding-left: 15%;
}




#content {
    float: right;
    width: 72%;
    margin-left: 20px;
    padding-left: 20px;
}


